/* 
    Document   : default
    Created on : 21/08/2014, 12:49:14 AM
    Author     : ideacentre
    Description:
        Purpose of the stylesheet follows.
*/

#menuslide { 
    border: 1px solid #e3a1a1;
    background: #BE2C2C!important;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header{
    border: 1px solid #e3a1a1;
    background: #BE2C2C!important;
    color: #ffffff;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #FFF!important;
}

.navbar-background{
    background-color: #444343;
    background-repeat: no-repeat;
     background-size: 50% 100%;
}

.navbar-text{
    color: #DEDEDE;
}

label{padding-left:20px;}

.btn{margin:10px;}

.panel-bodyindex .btn:not(.btn-block) { width:250px; }

.panel-primary {
    border-color: #DEDEDE!important;
}

.panel-primary .panel-heading {
    color: #DEDEDE!important;
    background-color: #444343!important;
    border-color: #DEDEDE!important;
}

.panel-primary .panel-footer{
    color: #DEDEDE!important;
    background-color: #444343!important;
    border-color: #DEDEDE!important;

}

.btn-primary {
    color: #FFF;
    background-color: #BE2C2C!important;
    border-color: #BE2C2C!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #D74444!important;
    border-color: #E4332E;
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }